body {
    background-color: lightgray;
}

.centerContent {
    margin: 0 auto;
}
.resumeObject {
    width: 75%;
    height: 750px;
    margin-left: 12%;
    padding: 24px;
    float: left;
}

.content {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    width: 98%;
    margin: 0 auto;
    padding: 4px;
    height: fit-content;
    
}

.profilePicture {
    width: 200px; 
    height: 200px; 
    border-radius: 50%;
    float: left;
    padding: 12px;
    padding-right: 18px;
}

.card {
    background-color: white;
    padding: 8px;
    float: left;
    margin: 4px;
    width: 80%;
    
}

.navList {
    width: 100%;
    background-color: #333;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

.navList li {
    float: left;
}

.navList li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navList li a:hover {
    background-color: #111;
    cursor: pointer;
}

.activeLink {
    background-color: darkred;
}

.title {
    text-align:center;
    width: 100%;
}